
/*BASE*/
/*[reset global - todo]*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*[enlaces menu]*/
a {
    color: white;
    text-decoration: none;
}

/*[fondo de toda la web]*/
body {
    background-color: black;
    margin: 0;
}


/*MENÚ*/

nav {
    justify-content: center;
    display: flex;
}

/*[menú colocado]*/
nav {
    display: flex;
    justify-content: center;
    padding: 50px 0 50px;
}

/*[botones organizados]*/
nav  ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

/*[borde y tipo]*/
nav  a {
    font-family: "Sometype Mono", monospace;
    font-size: 16px;
    border: 1px solid white;
    padding: 3px 10px;
    border-radius: 20px;

}

/*[hovering botones]*/
nav > ul > li > a:hover {
    background-color: white;
    color: black;
}


/*HOME*/
/*Header*/

/*[contenedor principal]*/
header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: auto;
    position: relative;
    flex-direction: column;
    gap: 10px;
    padding: 0;
}


/*[bloque pantalla inicial]*/
.hero {
    height: 100vh;
    background-image: url("../HTML/img/home/quintocuatro.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 0px;
}

/*[contenedor texto h1]*/
.hero > div:last-child {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


/*[posición texto h1]*/
.hero > div:last-child h1 {
    font-family: "Imperial Script", cursive;
    font-size: 160px;
    line-height: 1;
    color: white;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: (-50%, -50%);
}


/*Welcome*/
/*[contenedor principal]*/
.home-about-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-bottom: 250px;
    
}

/*[contenedor imagen]*/
.about-image {
    position: relative;
    width: 400px;
}

/*[welcome - imagen]*/
.home-about-row > div:first-child img {
    width: 100%;
    height: auto;
    border-radius: 20px; 
}

/*[welcome - texto]*/
.home-about-row > div:last-child p {
    font-family: "Instrument Serif", serif;
    width: 400px;
    font-size: 25px;
    line-height: 1.4;
    color: white;
}



/*ROOMS*/
/*[contenedor general rooms]*/
#rooms {
    padding: 10px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 0;
}

/*[cada bloque]*/
.room-block {
    background-color: #010101;
    padding: 40px;
    margin-bottom: 80px;
}

/*[cabecera]*/
.room-top {
    font-family: "Anton", sans-serif;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

/*[texto dentro de cabecera]*/
.room-top > p {
    color: white;
    font-weight: bold;
    font-size: 25px;
}

/*[contenido principal]*/
.room-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

/*[invertir layout]*/
.room-content.reverse {
    flex-direction: row-reverse;
}

/*[contenedor imagen]*/
.room-design {
    width: 25%;
    min-width: 220px;
}

/*[imagem rellena contenedor]*/
.room-design > img {
    width: 100%;
    border: 1px solid white;
}

/*[título]*/
.room-design img {
    width: 100%;
    height: 100%;
}

/*[contenedor texto]*/
.room-text {
    font-family: "Geist Mono", monospace;
    font-weight: 100;
    width: 45%;
    min-width: 280px;
}

/*[texto]*/
.room-text > p {
    color: white;
    font-size: 15px;
    line-height: 1.5;
    text-transform: uppercase;
}

/*[alineacion texto derecha]*/
.right-text p {
    text-align: right;
}

.right-text p {
    margin-left: auto;
}



/*ABOUT*/
/*Gallery*/

/*[título]*/
#Gallery  h1 {
    font-family: "Imperial Script", cursive;
    font-size: 90px;
    color: white;
    margin-top: 200px;
    margin-bottom: 200px;
}

/*[Galería 1]*/
/*[contenedor principal]*/
#gallery {
    padding: 20px 80px;
}

/*[título]*/
#gallery > h2 {
    font-family:"Anton", sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
    color: white;
}

/*[lista imágenes]*/
#gallery > ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

/*[cada caja de imagen]*/
#gallery > ul > li {
    width: 300px;
}

/*[imágenes]*/
#gallery > ul > li > img {
    width: 100%;
    height: auto;
    object-fit: cover; 
    border-radius: 10px;
}


/*[Galería 2]*/
/*[contenedor galeria 2]*/
#visual-dump {
    padding: 100px;
    margin-top: 150px;
}

/*[título]*/
#visual-dump > h2 {
    font-family:"Anton", sans-serif;
    font-size: 36px;
    margin-bottom: 60px;
    color: white;
}

/*[filas, sepración]*/
#visual-dump > ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 80px 40px;
    justify-content: center;
    align-items: flex-start;
}

/*[columnas]*/
#visual-dump > ul > li {
    flex: 0 0 28%;
    display: flex;
    flex-direction: column;
}

/*[ fotos 2 y 5]*/
#visual-dump > ul > li:nth-child(2)
#visual-dump > ul > li:nth-child(5) {
    margin-top: 120px;
}

/*[ fotos 1, 3, 4, 6]*/
#visual-dump > ul > li:nth-child(odd) {
    margin-top: -40px;
}

/*[no deformación]*/
#visual-dump > ul > li > img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}


/*FOOTER*/

/*[estilo general footer]*/
footer {
    margin: 80px 0 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 150px;
    
}

/*[contenedor iconos]*/
footer > .social-icons {
    display: flex;
    gap: 20px;
}

/*[enlaces]*/
footer > .social-icons a {
    color: white;
    font-size: 20px;
}

/*[texto copyright]*/
footer > .copyright {
    color: white;
}


/* MEDIA QUERIES */
/* Phone */
@media screen and (max-width: 480px) {
    
    .wrapper {
        padding: 0 10px;
    }

    header > div:last-child {
        display: none;
    }

    #gallery > ul > li {
        flex: 100%;
    }

}

/* iPad */
@media screen and (max-width: 720px) {

    .wrapper {
        padding: 0 20px;
    }

    h1 {
        font-size: 48px;
    }

    #projects > .pro-row {
        flex-wrap: wrap;
    }

    #projects > .pro-row > .col {
        width: 100%;
    }

    #gallery > ul > li {
        flex: 45%;
    }

    footer > .f-row {
        flex-direction: column;
        align-items: center;
    }

    footer > .f-row > .copyright {
        padding-top: 40px;
        text-align: center;
    }

}

